.comment {
  padding: 0.5rem 1rem;
  color: #ffffff;
  //background-color: #2560ce;
  border: 0;
  background: linear-gradient(45deg, #2560ce, #183ca8);

  .text-muted {
    color: #bfc8e6 !important;
  }
}