// Body
$body-bg: #f5f9fa;

// Typography
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #00bdca;
$teal-lighter: #22cbd7;
$cyan: #6cb2eb;

$text-base: #2b4149;
$text-lighter-1: #9ba6b2;
$text-darker-1: #11273d;
$text-muted: #8a98a1;

$light-grey-1: #f0f7f7;